#nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
}
#order-sub-components{
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 56px;
    width: 100%;
    z-index: 20;
}
.foot{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.foot-items{
    cursor: pointer;
    width: 100%;
}
.foot-active{
    background: lightseagreen;
}
@media only screen and (max-width: 600px) {
    #shop-component{
        padding-top: 100px;
        padding-bottom: 70px;
    }
    #order-component{
        padding-top: 100px;
        padding-bottom: 70px;
    }
    #chat-component{
        padding-top: 50px;
        padding-bottom: 70px;
    }
    #profile-component{
        padding-top: 100px;
        padding-bottom: 70px;
    }
}
#shop-component{
    padding-bottom: 100px;
    display: block;
}
#order-component{
    padding-bottom: 100px;
    display: none;
}
#chat-component{
    padding-bottom: 100px;
    display: none;
}
#profile-component{
    padding-bottom: 100px;
    display: none;
}
#pending-component{
    display: block;
}
#completed-component{
    display: none;
}
#accepted-component{
    display: none;
}
#declined-component{
    display: none;
}
#foot{
    z-index: 20;
}
.container{
    margin-top: 10%;
}
.necessary{
color: red;
}
.navigation{
    text-align: center;
    width: 100%; 
}
.navigation-items{
    font-size: x-small;
    cursor: pointer;
    width: 100%;
}
.orders{
    padding-top: 7px;
    line-height: 5px;
}
.order-active{
    background: lightseagreen;
}
#chat-user{
    display: none;
}